* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vh;
  margin: auto;
  height: auto;
  background: url("astro.jpg") no-repeat center center;
  background-size: cover;
}

canvas {
  width: 100%;
  margin: auto;
  margin-top: 50px;
  background: none;
}

#high-score-section {
text-align: left;
width: 130px;
position: fixed;
top: 20px;
left: 10px;
background-color: rgba(255, 255, 255, 0.1);
overflow-x: hidden;
padding: 8px 0;
}

#save-user-score {
  display: none;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  font-size: 32px;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  border-radius: 16px;
  font-family: 'Orbitron', sans-serif;
}

#score-holder {
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}

.modal-content button {
  align-self: center;
  padding: 5px 10px;
  border-radius: 8px;
  border: none;
  background: aquamarine;
  font-size: 12px;
  font: black;
}

.modal-content button:hover {
  animation: pop 0.5s linear infinite alternate;
  background: rgb(93, 184, 196);
}

@keyframes pop {
  from {
    font-size: 12px;
    font: black;
  }
  to {
    font-size: 16px;
    font: white;
  }
}
